<div class="table-responsive">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <table class="table table-hover table-striped table-dark table-sm" id="postsTable">
    <thead>
      <tr>
        <th>Author</th>
        <th>Link</th>
        <th>Task ID</th>
        <th>Status</th>
        <th>Added At</th>
        <th>Updated At</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="posts === null;else hasposts">
        <td colspan="7" align="center">No Content</td>
      </tr>
      <ng-template #hasposts>
        <tr *ngFor="let item of posts">
          <td class="author">
            <a href="https://steemit.com/@{{ item.author }}" target="_{{ item.id }}">{{ item.author }}</a>
          </td>
          <td class="link">
            <a href="{{ item.link }}" target="#{{ item.id }}">{{ str_limit(permalink(item.link)) }}</a>
          </td>
          <td class="task-id"><a href="{{ task_id(item.task_id) }}" target="_{{ item.id }}">{{ item.task_id }}</a></td>
          <td>
            <b>{{ c_status(item.status) }}</b>
          </td>
          <td>{{ item.created_at | date:'short' }}</td>
          <td>{{ item.updated_at | date:'short' }}</td>
          <td>
            <button type="button" class="btn btn-info btn-outline-info my-2 my-sm-0 btn-sm" (click)="detail(item.id)">Detail</button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
