<ng-template #loginForm>
  <app-manager></app-manager>
</ng-template>
<div *ngIf="authenticated===true; else loginForm">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Status</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of voters">
        <td>{{ item.id }}</td>
        <td class="author"><a href="{{ author_link(item.username) }}" target="_">{{ item.username }}</a></td>
        <td><span class="text-{{ item.status == 1 ? 'success' : 'warning' }}">{{ item.status == 1 ? 'Active' : 'Disabled' }}</span></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-info btn-sm">Update</button>
            <button type="button" class="btn btn-outline-info btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="" class="dropdown-item">Update</a>
              <a href="" class="dropdown-item">History</a>
              <a href="" class="dropdown-item text-danger">Disable</a>
              <a href="" class="dropdown-item text-success">Enable</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
