<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">KBM</a>
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Posts</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item active" href="/posts/voted">Voted</a>
          <a class="dropdown-item" href="/posts/unvoted">Unvoted</a>
          <a class="dropdown-item" href="/posts/invald-link">Invalid Link</a>
          <a class="dropdown-item" href="/posts/low-reputation">Low Reputation</a>
          <a class="dropdown-item" href="/posts/old">Old</a>
          <a class="dropdown-item" href="/posts/blocked">Blocked</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">History</a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="/history/voted">Voted</a>
          <a class="dropdown-item" href="/history/commented">Commented</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
